<%= form_with model: @post do |f|%>
    <div class="mb-6">
     <%= f.label  :image, "Cover iamge", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
     <%= f.file_field :image, placeholder: "Title", class: "block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" %>
    </div>
    <div class="mb-6">
    <%= f.label :title, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= f.text_field :title, placeholder: "Title", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    <% @post.errors.full_messages_for(:title).each do |message| %>
      <div class="text-xs font-medium text-red-600 mt-2"><%= message %></div>
    <% end %>
  </div>
  <div class="mb-6">
    <%= f.label "Text", :content, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= f.text_area :content, placeholder: "Write your text", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
    <% @post.errors.full_messages_for(:content).each do |message| %>
      <div class="text-xs font-medium text-red-600 mt-2"><%= message %></div>
    <% end %>
  </div>
  <div class="text-right">
    <%= f.submit class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  </div>
<% end %>