<!DOCTYPE html>
<html>
  <head>
    <title>Students</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.tailwindcss.com"></script>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js", "data-turbo-track": "reload", defer: true %> 
    <%= javascript_importmap_tags %>
    <script>
    tailwind.config = {
      content: [
    './app/views/**/*.html.erb',
    './app/components/**/*.html.erb',
    './app/components/**/*.rb',
    './app/helpers/**/*.rb',
    './app/assets/stylesheets/**/*.css',
    './app/javascript/**/*.js',
    "./node_modules/flowbite/**/*.js",
  ],
      theme: {
        extend: {
          colors: {
            primary: {"50":"#EBF5FF","100":"#E1EFFE","200":"#C3DDFD","300":"#A4CAFE","400":"#76A9FA","500":"#3F83F8","600":"#1C64F2","700":"#1A56DB","800":"#1E429F","900":"#581c87"}
          },
        }
      }
    }
  </script>
    <style type="text/tailwindcss">
    @tailwind base;
    @tailwind components;
    @tailwind utilities;


    @layer components {
      .container {
        @apply mx-auto max-w-[1200px];
      }
    }
  </style>

  </head>

  <body>
  <p class="notice"><%= notice %></p> 
  <p class="alert"><%= alert %></p> 
 
  
    <%= yield %>
   
  </body>
</html>
